{
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "maptalks",
  "globals": {
  },
  "rules": {
  }
}
